.banner
    display: inline-flex
    flex-wrap: wrap
    background-color: $default-color
    // width: 70vw
    // height: 90vh
    flex-direction: column
    // marginLeftRight(15px)
    // width: 1080px
    width: 100%
    height: auto
    &-nav
        display: flex
        flex-wrap: wrap
        order: 1
        margin-top: 10px
        paddingLeftRight(15px)
        .nav-logo
            flexRow()
            display: flex
            justify-content: center
            align-items: center
        .nav-menu
            display flex
            flexRow(100%)
            align-items: center
            justify-content: center
            margin-top: 10px
            &-items
                list-style: none
                padding: 0
                margin 0
                li
                    display: inline-block
                    a
                        text-decoration: none
                        // color: $mainFontColor
                    &:not(:last-child)
                        a
                            padding-right: 15px

    &-descr
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        order: 3
        margin: 10px 0
        paddingLeftRight(15px)
        .text
            margin-bottom: 20px
            flexRow()
            display: flex
            align-items: center
        .footer
            display: flex
            align-items: center
            flexRow()
            a
                color: $mainFontColor
                text-decoration: none

    &-slider
        position relative
        order: 2
        margin-top: 10px
        .button-buy
            position: absolute
            background-color: #FC4929
            bottom: 5%
            right: 50%
            transform: translateX(50%)
            color: $default-color
            border-radius: 33px
            padding: 10px
            font-weight: 500
            text-decoration: none
        &-view
            background-color: $neutral-placeholder
            width: 100%
            height: 100%
            overflow hidden
            position: relative
            img
                // object-fit: cover;
                width: 100%
                height: 100%
                // opacity: 1
            
        &-prev
            position: absolute
            top: 50%
            left: 20px
            transform: translateY(-50%)
            cursor pointer
        &-next
            position: absolute
            top: 50%
            right: 20px
            transform: translateY(-50%)
            cursor pointer
    @media screen and (min-width: 768px)
        height: 40vh
        &-nav
            width: 60%
            height: 25%
            margin: 0
            .nav-logo
                justify-content: flex-start
            .nav-menu
                justify-content: flex-start
                margin: 0
        &-descr
            order: 2
            width: 60%
            height: 75%
            margin: 0
        &-slider
            order: 3
            width: 40%
            height: 100%
            margin: 0
            .button-buy
                right: 5%
                transform: none
            &-view img
                width: auto
                
    @media screen and (min-width: 1200px)
        &-nav
            .nav-logo
                flexRow(auto)
            .nav-menu
                flex-basis: auto
                flex-grow: 1
                justify-content: flex-end




.slideLeft-enter-active, .slideLeft-leave-active {
    transition: all .5s;
}

.slideLeft-enter
    opacity: 0
    transform: translateX(10px)
.slideLeft-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateX(-10px)
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
// .fade-enter-to, .fade-leave
//     opacity: 1
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}


